@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.container .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  justify-content: center;
}
.landing {
  object-fit: contain;
  background: url("./images/background.svg") center center/cover no-repeat;
  height: 75vh;
  background-color: transparent;
  width: 100%;
  display: flex;
}
.naslovi {
  font-size: xx-large;
  padding: 20px;
}

.login {
  align-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  width: 115px;
  margin: 20px 5px;
  border-bottom: 1px solid #fafafa;
}
.blog-list {
  display: flex;
  padding: 35px;
  flex-wrap: wrap;
  justify-content: center;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.loginBtn {
  color: white;
  background-color: rgb(241, 53, 109);
  border-radius: 8px;
  padding: 5px 8px;
  margin: 2px;
  transform: scale(1.2);
  outline-style: none;
}

.formItem {
  display: flex;
  margin: 7px;
  padding: 5px 13px;
  align-self: flex-start;
  justify-content: center;
  align-content: flex-start;
}
